<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1485095329183-d0797cdc5676?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80")>
  <div class="container">
    <h1>Movie Watch List</h1>
    <p> Create Lists With Movies You Want To Watch</p>
  </div>
</div>

<div class="container m-3 text-right">
  <%= link_to 'Add a new List', new_list_path, class:"btn btn-primary" %>
</div>




<div class="lists-card-grid my-3 container">
  <% @lists.each do |list| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path list.photo.key%>)">
      <%= link_to list.name, list, class:"card-link" %>
    </div>
  <% end %>
</div>



