<div class="container">
<h1>Create a new List</h1>

<div>
<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <div class="my-3">
  <%= f.submit class:'btn btn-primary mx-3' %>
  </div>
<% end %>
</div>

</div>