<h1>Create a new bookmark</h1>

<div class= "container">
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  
  <div class="my-3">
  <%= f.submit class:'btn btn-primary mx-3' %>
  </div>
<% end %>
</div>
