<div class="card-trip m-3">
  <img src= <%= @movie.poster_url %>  />
  <div class="card-trip-infos">
    <div>
      <h2 class="mb-4"><%= @movie.title %></h2>
      <p><%= @movie.overview %></p>
    </div>
    <h2 class="card-trip-pricing m-3 border">  Rating: <%= @movie.rating %></h2>
    
  </div>
</div>

